# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Debug files
docs/debug/*.png
docs/debug/*.jpg
docs/debug/*.jpeg

# Local env files
.env
.env.*
!.env.example
